body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    text-align: center;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.title {
    margin-top: 150px;
    font-size: 120%;
    color: #ffffff;
}

#num {
    font-size: 150%;
    color: #e67e22;
}

a {
    font-size: 60%;
    font-weight: 400;
    margin-right: 50px;
    color: #e67e22;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(221, 221, 221,0.9);
}